<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.root_url }}/assets/vendor/normalize-css/normalize.css">
    <link rel="stylesheet" href="{{ site.root_url }}/assets/css/main.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ site.root_url }}/assets/js/vendor/modernizr.min.js"></script>
    <script src="{{ site.root_url }}/assets/js/scripts.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    {% include typekit.html %}
  </head>
  <body>