---
layout: default
title: Template A
---

<main class="main col8" role="content">

  <section class="content tall" data-ipsum="2p">
    <h2 class="dark">Intro Text</h2>
    <p class="lorem light" data-ipsum="2p">Intro Text</p>
  </section>

  <section class="slider arrows">
    <ul class="slides">
      <li>Slide 1</li>
      <li>Slide 2</li>
      <li>Slide 3</li>
    </ul>
  </section>

</main>

<aside class="sidebar col4">

  <section>
    <p>Links</p>
  </section>

  <section>
    <p>Resources</p>
  </section>

</aside>
