---
layout: default
title: Template C
category: template
---

<div class="container">
  <div class="row">

    <main class="main col8" role="content">

      <section class="tall">
        <p>Intro Text</p>
      </section>

      <section class="slider arrows">
        <ul class="slides">
          <li><i class="fa fa-image"></i></li>
          <li><i class="fa fa-image"></i></li>
          <li><i class="fa fa-image"></i></li>
        </ul>
      </section>

    </main>

    <aside class="sidebar col4">

      <section class="square">
        <p>Calendar</p>
      </section>

      <section class="cinema">
        <p>Resources</p>
      </section>

    </aside>

    <div class="col12">
      <div class="row">
        <section class="col3 profile card"></section>
        <section class="col3 profile card link"></section>
        <section class="col3 profile card"></section>
        <section class="col3 profile card"></section>
        <section class="col3 profile card"></section>
        <section class="col3 profile card"></section>
        <section class="col3 profile card"></section>
        <section class="col3 profile card"></section>
        <section class="col3 profile card"></section>
        <section class="col3 profile card"></section>
        <section class="col3 profile card"></section>
        <section class="col3 profile card"></section>
      </div>
    </div>

  </div>
</div>


<a href="#" class="template-nav-trigger info-trigger" data-target="#info-panel">
  <i class="fa fa-info"></i>
</a>

<aside id="info-panel" class="template-nav-panel info-panel">
  <div class="description">
    <h2>Description</h2>
    <p>Standard page layout for all subpages.</p>
    <h2>Relevant Pages</h2>
    <ul>
      <li>About Us</li>
      <li>Contact</li>
    </ul>
  </div>
</aside>


