---
layout: default
title: Template B
category: template
---

<section class="slider arrows">
  <ul class="slides">
    <li><i class="fa fa-image"></i></li>
    <li><i class="fa fa-image"></i></li>
    <li><i class="fa fa-image"></i></li>
  </ul>
</section>

<div class="container">
  <div class="row">

    <main class="main col8" role="content">

      <section class="content short" data-ipsum="2p">
        <h2 class="dark">Intro Text</h2>
        <p class="lorem light" data-ipsum="2p">Intro Text</p>
      </section>

      <div class="row">
        <div class="col6"><section class="square"><p>Text Column</p></section></div>
        <div class="col6"><section class="square"><p>Text Column</p></section></div>
      </div>

      <section class="short" data-ipsum="2p"><p>Bio</p></section>
      <section class="short" data-ipsum="2p"><p>Bio</p></section>
      <section class="short" data-ipsum="2p"><p>Bio</p></section>
      <section class="short" data-ipsum="2p"><p>Bio</p></section>

    </main>

    <aside class="sidebar col4">

      <section class="square">
        <p>Links</p>
      </section>

      <section class="cinema">
        <p>Resources</p>
      </section>

    </aside>

    <div class="col12">
      <div class="row">
        <section class="col3 profile card"></section>
        <section class="col3 profile card link"></section>
        <section class="col3 profile card"></section>
        <section class="col3 profile card"></section>
      </div>
    </div>
  </div>
</div>



